*.aux
*.log
*.out
*~
moderncvcolorblack.sty
moderncvcolorgreen.sty
moderncvcolorgrey.sty
moderncvcolororange.sty
moderncvcolorpurple.sty
moderncvcolorred.sty
moderncvstylebanking.sty
moderncvstyleclassic.sty
moderncvstyleempty.sty
moderncvstyleoldstyle.sty